* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/** Header **/
.main {
  background-color: rgb(51, 50, 50);
}

/* Navigation Bar */
.nav_bar {
  height: 60px;
  background-color: rgb(167, 15, 15);
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0 70px;
  color: #fff;
}

.nav_bar h3 {
  font-size: 20px;
  border: 2px solid yellow;
  padding: 10px 20px;
  background-color: #ffd700;
  color: #000;
}

/** Main Content **/
.main_img {
  position: relative;
  background-image: url(./assets/ratan_tata1.png);
  background-size: cover;
  height: 350px;
  width: 100%;
  display: flex;
}

.content_box {
  position: relative;
  height: 300px;
  width: 350px;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 40px 40px 40px 100px;
  box-shadow: 0px 0px 5px 0px;
}

.content {
  height: 300px;
  width: 350px;
  color: black;
  font-size: x-large;
  background-color: white;
  position: absolute;
  margin: 15px 10px 10px 70px;
  text-align: center;
}

.content p {
  margin-top: 30px;
}

.content span {
  font-size: small;
  color: red;
  margin: 0px 60px 0px 180px;
}

/** Fact Content **/
.fact_content {
  height: 800px;
  overflow: hidden;
}

.fact_content h2 {
  text-align: center;
  color: white;
  padding-top: 30px;
}

.fact_content div {
  height: 600px;
  width: 80%;
  padding-top: 30px;
  text-align: start;
  margin: 10px 160px 10px 160px;
  color: white;
}

.btn {
  height: 30px;
  border-radius: 5px;
  font-size: 15px;
  color: white;
  border: none;
  background-color: rgb(167, 15, 15);
  text-align: center;
  margin: 0px 400px 0px 450px;
}

/** Slider **/
.img_slider {
  height: 450px;
  width: 100%;
}

.carousel-wrapper {
  height: 60vh;
  display: grid;
  grid-auto-flow: column;
  margin: 0px auto;
  box-shadow: 2px black;
  grid-auto-columns: calc((100% / 2) - 12px);
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  gap: 22px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  padding: 0 2rem;
}

.slide {
  position: relative;
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.slide img {
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}

.info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Footer */
footer {
  background-color: rgb(167, 15, 15);
  height: 60px;
}

.footer_icon {
  text-align: center;
}

.footer_icon i {
  font-size: 25px;
  padding: 15px 3px 0px 2px;
  text-decoration: none;
  color: white;
}

@media (max-width: 768px) {
  .fact_content {
    height: 100%;
  }

  .fact_content div {
    margin: 0 auto;
    height: 100%;
  }

  .carousel-wrapper {
    margin-top: 55px;
    width: 400px;
    height: 200px;
  }

  .img_slider {
    height: 200px;
    display: none;
  }

  .btn {
    margin: 0px 100px 0px 100px;
    left: 30px;
    height: 25px;
  }

  .content_box {
    height: 100px;
    width: 160px;
    margin: 25px 5px 5px 30px;
  }

  .content {
    height: 100px;
    width: 160px;
    font-size: 10px;
    margin: 10px 10px 10px 15px;
  }

  .content span {
    font-size: smaller;
    margin: 0px 20px 0px 80px;
  }

  .content p {
    margin-top: 10px;
  }

  .main_img {
    width: 100%;
    height: 100%;
  }

  .info {
    height: 100%;
    width: 100%;
    background-size: cover;
  }
}
